
@font-face {

 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;

font-style: normal;

font-weight: bold;

src: url('http://viposidn.com/content/Gialuron_MX_Clone/images/opensans-condbold-webfont.woff') format("woff"), url('http://viposidn.com/content/Gialuron_MX_Clone/images/opensans-condbold-webfont.ttf') format("truetype");

}
@font-face {

 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;

font-style: normal;

font-weight: normal;

src: url('http://viposidn.com/content/Gialuron_MX_Clone/images/opensans-condlight-webfont.ttf') format("truetype");

}
.iSlider {
 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;

 margin-bottom: 40px;
 }
body *{
box-sizing: border-box;
 margin:0;
 padding:0;
}

.mc-expanded {
 display: table;
 }
.ava {
 display: table-cell;
 vertical-align: top;
 padding-right: 25px;
 }
.ava img {
 border: 1px solid rgba(0, 0, 0, 0.1) ! important;
 border-radius: 3px ! important;
 height: 36px ! important;
 width: 36px ! important;
 padding: 2px ! important;
 }
.mc-postbox-container {
 display: table-cell;
 vertical-align: top;
 }
.mc-button {
 color: rgb(255, 255, 255) ! important;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) ! important;
 background-color: rgb(0, 109, 204) ! important;
 background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204)) ! important;
 background-repeat: repeat-x ! important;
 border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) ! important;
 float: right;
 }
.mc-button:hover {
 color: rgb(255, 255, 255) ! important;
 background-color: rgb(0, 68, 204) ! important;
 }
.mc-postbox-container textarea {
 width: 100%;
 }
.mc-postbox-container input {
 padding: 10px 5px;
 }
.comList-box-item {
 margin: 16px 0;
 padding: 5px 2% 10px;
 background: none repeat scroll 0 0 rgb(248, 248, 248);
 border: 1px solid rgb(204, 204, 204);
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
 border-radius: 5px;
 }
.name_user {
 margin-top: 5px;
 }
.comList-box-item-info {
 /*width: 9%;*/
 padding: 0 1% 0 0;
 float: left;
 line-height: 15px;
 }
.comList-box-item-text {
 padding-left: 55px;
 }
#mc-container {
 margin-top: 50px;
 }
.avas {
 margin-top: 10px;
 width: 48px;
 }
.group:before {
 content: " ";
 display: table;
 }
.group:after {
 content: " ";
 clear: both;
 display: table;
 }
.com-date {
 font-size: 9px;
 font-style: normal;
 display: block;
 }
.user-info {
 font-size: 16px;
 display: block;
 }
@media not all, only screen and (min-resolution: 144dpi) {

}
@font-face {

 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;

font-style: normal;

font-weight: normal;

src: url('http://viposidn.com/content/Gialuron_MX_Clone/images/flexslider-icon.eot') format("embedded-opentype"), url('http://viposidn.com/content/Gialuron_MX_Clone/images/flexslider-icon.woff') format("woff"), url('http://viposidn.com/content/Gialuron_MX_Clone/images/flexslider-icon.ttf') format("truetype"), url('http://viposidn.com/content/Gialuron_MX_Clone/images/flexslider-icon.svg') format("svg");

}
@media screen and (max-width: 860px) {

}
article, aside, details, figcaption, figure, footer, header, nav, section {
 display: block;
 }
audio:not([controls]) {
 display: none;
 }
html {
 font-size: 100%;
 }
a:focus {
 outline: thin dotted rgb(51, 51, 51);
 outline-offset: -2px;
 }
a:hover, a:active {
 outline: 0 none;
 }
.button a:hover{
 color:#4fd36d!important;
}
img {
 max-width: 100%;
 height: auto;
 vertical-align: middle;
 border: 0 none;
 }
button, input, select, textarea {
 margin: 0;
 font-size: 100%;
 vertical-align: middle;
 }
button, input {
 line-height: normal;
 }
button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0 none;
 }
button, html input[type="button"], input[type="reset"], input[type="submit"] {
 cursor: pointer;
 }
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
 cursor: pointer;
 }
textarea {
 overflow: auto;
 vertical-align: top;
 }
body {
 margin: 0;
 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
 font-size: 16px;
 line-height: 20px;
 color: rgb(51, 51, 51);
 background-color: rgb(255, 255, 255);
 }
a {
 color: rgb(0, 136, 204);
 text-decoration: none;
 }
a:hover, a:focus {
 color: rgb(0, 85, 128);
 text-decoration: underline;
 }
.row {
 margin-left: -20px;
 }
.row:before, .row:after {
 display: table;
 content: "";
 line-height: 0;
 }
.row:after {
 clear: both;
 }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
 width: 940px;
 }
.all{
 margin:0 auto;
 width:1020px;
}

.span3 {
 width: 220px;
 float:left;
 margin-left:50px;
 }
.span9 {
 width: 700px;
 float:left;
 margin-left:25px;
 }
.row-fluid {
 width: 100%;
 }
.row-fluid:before, .row-fluid:after {
 display: table;
 content: "";
 line-height: 0;
 }
.row-fluid:after {
 clear: both;
 }
.row-fluid [class*="span"] {
 display: block;
 width: 100%;
 min-height: 30px;
 box-sizing: border-box;
 float: left;
 margin-left: 2.12766%;
 }
.row-fluid [class*="span"]:first-child {
 margin-left: 0;
 }
.row-fluid .span3 {
 width: 23.4043%;
 }
.row-fluid .span9 {
 width: 74.4681%;
 }
.container {
 margin-right: auto;
 margin-left: auto;
 max-width:100%;
 }
.container span {
 cursor: pointer;
 }
.container:before, .container:after {
 display: table;
 content: "";
 line-height: 0;
 }
.container:after {
 clear: both;
 }
p {
 margin: 0 0 10px;
 text-indent: 20px;
 }
h1, h2, h3, h4, h5, h6 {
 margin: 10px 0;
 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
 font-weight: bold;
 line-height: 20px;
 color: inherit;
 text-rendering: optimizelegibility;
 }
h1, h2, h3 {
 line-height: 40px;
 }
h1 {
 font-size: 54px;
 }
h2 {
 font-size: 36px;
 }
ul, ol {
 padding: 0;
 margin: 0 0 10px 25px;
 }
ul ul, ul ol, ol ol, ol ul {
 margin-bottom: 0;
 }
.button{
 text-align: center;
}
li {
 line-height: 20px;
 }
label, input, button, select, textarea {
 font-size: 16px;
 font-weight: normal;
 line-height: 20px;
 }
input, button, select, textarea {
 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
 }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
 display: inline-block;
 height: 20px;
 padding: 4px 6px;
 margin-bottom: 10px;
 font-size: 16px;
 line-height: 20px;
 color: rgb(85, 85, 85);
 border-radius: 4px;
 vertical-align: middle;
 }
input, textarea, .uneditable-input {
 width: 206px;
 }
textarea {
 height: auto;
 }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(204, 204, 204);
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
 transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
 }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
 border-color: rgba(82, 168, 236, 0.8);
 outline: 0 none;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
 }
input:-moz-placeholder, textarea:-moz-placeholder {
 color: rgb(153, 153, 153);
 }
.radio, .checkbox {
 min-height: 20px;
 padding-left: 20px;
 }
input, textarea, .uneditable-input {
 margin-left: 0;
 }
input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
 color: rgb(185, 74, 72);
 border-color: rgb(238, 95, 91);
 }
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
 border-color: rgb(233, 50, 45);
 box-shadow: 0 0 6px rgb(248, 185, 183);
 }
table {
 max-width: 100%;
 background-color: transparent;
 border-collapse: collapse;
 border-spacing: 0;
 }
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
 background-color: rgb(249, 249, 249);
 }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
 padding: 0;
 border: 0 none;
 }
.pagination {
 margin: 20px 0;
 }
.pagination ul {
 display: inline-block;
 margin-left: 0;
 margin-bottom: 0;
 border-radius: 4px;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
 }
.pagination ul > li {
 display: inline;
 }
.pagination ul > li > a, .pagination ul > li > span {
 float: left;
 padding: 4px 12px;
 line-height: 20px;
 text-decoration: none;
 background-color: rgb(255, 255, 255);
 border-width: 1px 1px 1px 0;
 border-style: solid;
 border-color: rgb(221, 221, 221);
 -moz-border-top-colors: none;
 -moz-border-right-colors: none;
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 border-image: none;
 }

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
 border-left-width: 1px;
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
 }
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 }
.sprite-sprite, .sprite-azan, .sprite-bubble-small, .indicator__comment .icon, .sprite-bubble_dotted-small, .sprite-caret-2-open, .dropdown.open .icon-caret-2, .sprite-caret-2, .dropdown .icon-caret-2, .sprite-caret-open, .dropdown.open .icon-caret, .sprite-caret, .dropdown .icon-caret, .sprite-carousel-control-next, .carousel .carousel-control-next, .sprite-carousel-control-prev, .carousel .carousel-control-prev, .sprite-close, .custom-modal .modal-header .close, .sprite-control-down, .sprite-control-up, .sprite-english, .sprite-eye-small, .indicator__watch .icon, .sprite-facebook, .sprite-home, .home, .sprite-horizontal-control-next-2, .flexslider--headline .flex-next, .sprite-horizontal-control-next-3, .koran-book__direction__item--next, .flexslider--book .flex-next, .sprite-horizontal-control-next, .jcarousel-skin-gallery_preview .jcarousel-next, .sprite-horizontal-control-next_disabled, .jcarousel-skin-gallery_preview .jcarousel-next-disabled, .jcarousel-skin-gallery_preview .jcarousel-next-disabled:hover, .sprite-horizontal-control-prev-2, .flexslider--headline .flex-prev, .sprite-horizontal-control-prev-3, .koran-book__direction__item--prev, .flexslider--book .flex-prev, .sprite-horizontal-control-prev, .jcarousel-skin-gallery_preview .jcarousel-prev-horizontal, .sprite-horizontal-control-prev_disabled, .jcarousel-skin-gallery_preview .jcarousel-prev-disabled, .jcarousel-skin-gallery_preview .jcarousel-prev-disabled:hover, .sprite-instagram, .sprite-koran-nav-face, .sprite-koran-nav-rupor, .sprite-koran-nav-translate, .sprite-lens, .form-search .process, .sprite-logo, .logo__image, .sprite-logo_smaller, footer .logo .logo__image, .sprite-odnoklassniki, .sprite-poin, .sprite-popover_angle-2, .w-services__item__help + .popover .arrow, .sprite-popover_angle-3, .popover-1.right .arrow, .sprite-popover_angle, .radio_popover:before, .sprite-question_mark, .sprite-question_mark_2, .sprite-restrict, footer .restriction, .sprite-rss, .sprite-scroll-top, .scrollup, .sprite-search, .sprite-seo-logo, .sprite-tag-small, .article__tags, .tag-list--icon:before, .sprite-tail, .bubble--tail-bottom:after, .sprite-tatar, .sprite-toolbox, .sprite-twitter, .sprite-user-small, .article__author, .sprite-vertical-control-next, .jcarousel-skin-lastnews .jcarousel-next-vertical, .sprite-vertical-control-next_disabled, .jcarousel-skin-lastnews .jcarousel-next-disabled, .jcarousel-skin-lastnews .jcarousel-next-disabled:hover, .sprite-vertical-control-prev, .jcarousel-skin-lastnews .jcarousel-prev-vertical, .sprite-vertical-control-prev_disabled, .jcarousel-skin-lastnews .jcarousel-prev-disabled, .jcarousel-skin-lastnews .jcarousel-prev-disabled:hover, .sprite-vkontakte, .sprite-youtube {
 background-image: url('../../../../viposidn.com/content/Gialuron_MX_Clone/images/sprite-sb86afe8aec.png');
 background-repeat: no-repeat;
 }
.logo__image {
 display: inline-block;
 }
.logo__text {
 display: inline-block;
 }
.logo__text p {
 text-indent: 0;
 }
.sprite-bubble-small, .indicator__comment .icon {
 background-position: 0 -33px;
 height: 11px;
 width: 12px;
 }
.sprite-eye-small, .indicator__watch .icon {
 background-position: 0 -366px;
 height: 8px;
 width: 12px;
 }
.sprite-logo, .logo__image {
 background-position: 0 -1998px;
 height: 48px;
 width: 234px;
 }
footer {
 width: 100%;
 text-align: center;
 opacity:0.6;
 padding:20px 0;
 }
.sprite-logo_smaller, footer .logo .logo__image {
 background-position: 0 -2056px;
 height: 38px;
 width: 184px;
 float: left;
 }
input[type="text"], textarea {
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
 color: rgb(51, 51, 51);
 }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
 border-color: rgb(238, 148, 50);
 box-shadow: 0 0 4px rgba(238, 148, 50, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3) inset;
 }
.logo {
 width: 230px;
 }
.logo__image {
 display: block;
 }
.logo__text {
 margin: -5px 0 0 2px;
 font-size: 14px;
 line-height: 1.07143;
 color: rgb(102, 102, 102);
 }
.logo--header {
 width: auto;
 }
.logo--header .logo__image {
 display: inline-block;
 vertical-align: middle;
 }
.logo--header .logo__text {
 display: inline-block;
 vertical-align: middle;
 margin: -1px 0 0 29px;
 /*width: 200px;*/
 text-align: center;
 font-weight:bold;
 font-size:33px;
 }
header .header {
 margin: 0 0 17px;
 }
header .header:before, header .header:after {
 display: table;
 content: "";
 line-height: 0;
 }
header .header:after {
 clear: both;
 }
header .header__logo {
 float: left;
 }
header nav {
 margin: 17px 0 0;
 }
header .special_links {
 margin: -20px 0 0;
 padding: 0;
 list-style: outside none none;
 }
header .special_links:before, header .special_links:after {
 display: table;
 content: "";
 line-height: 0;
 }
header .special_links:after {
 clear: both;
 }
header .special_links li {
 float: left;
 margin: 0 15px 0 0;
 font-size: 14px;
 line-height: 14px;
 }
header .special_links li:last-child {
 margin-right: 0;
 }
header .special_links a {
 color: rgb(65, 70, 73);
 text-decoration: underline;
 }
header .special_links a.highlighted {
 color: rgb(238, 147, 50);
 }
footer {


 background: none repeat scroll 0 0 rgb(247, 246, 242);
 width:100%;
 }



footer .logo .logo__text {
 margin-top: 14px;
 margin-left: 10px;

 color: rgb(153, 153, 153);
 }
footer .logo .logo__text p:last-child {
 margin-bottom: 0;
 }
.linksbar {
 margin: 20px 0 0;
 font-size: 12px;
 line-height: 17px;
 color: rgb(102, 102, 102);
 }
input.search-block__field[type="text"]::-moz-placeholder {
 font-weight: normal;
 }
.article:first-child {
 position: relative;
 top: 10px;
 margin-bottom: 10px;
 }
.article__date {
 display: inline;
 color: rgb(87, 138, 168);
 }
.article__header {
 margin: 0 0 8px;
 overflow: hidden;
 }
.article__header, .article__header h1 {
 font-size: 38px;
 /*line-height: 36px;*/
 font-weight: bold;
 margin: 10px 0;
 }
.article__header h1 {
 display: inline;
 margin: 0;
 }
.article__indicators {
 display: block;
 vertical-align: middle;
 margin: 0 0 0 4px;
 }
.article__text {
 margin: 15px 0 40px;
 font-size: 16px;
 line-height: 20px;
 }
.article__text:last-child {
 margin-bottom: 0;
 }
.article__text a {
 color: rgb(87, 138, 168);
 text-decoration: underline;
 }
.article__text a:hover {
 color: rgb(89, 118, 135);
 }
.article__text img + p, .article__text .announce_soon + p {
 margin-top: 2em;
 }
.article__text .img-description {
 margin-bottom: 1em;
 font-size: 14px;
 line-height: 18px;
 color: rgb(153, 153, 153);
 text-indent: 0 ! important;
 }
.article__text img + .img-description {
 margin-top: 8px;
 text-align: center;
 }
.primary {
 height: 40px;
 width: 960px;
 margin: 0 0 40px -10px;
 padding: 0;
 position: relative;
 list-style: outside none none;
 border-radius: 6px;
 background-color: rgb(86, 137, 162);
 background-size: 100% auto;
 background-image: linear-gradient(to bottom, rgb(86, 137, 162), rgb(58, 92, 116));
 }
.primary:before, .primary:after {
 display: table;
 content: "";
 line-height: 0;
 }
.primary:after {
 clear: both;
 }
.primary li {
 float: left;
 margin-bottom: -11px;
 }
.primary li:first-child {
 margin-left: 12px;
 }
/*.primary li:hover {*/
 /*background: none repeat scroll 0 0 rgb(171, 195, 208);*/
 /*}*/
/*.primary li.hover, .primary li.active {*/
 /*background: none repeat scroll 0 0 rgb(166, 193, 209);*/
 /*}*/
.primary li.hover ul, .primary li.hover .angle, .primary li.active ul, .primary li.active .angle {
 display: block;
 }
.primary li.radio {
 float: right;
 margin: 0;
 padding: 0;
 height: 100%;
 background: none repeat scroll 0 0 rgb(255, 255, 255) ! important;
 }
.primary li.radio .inner {
 padding: 0 10px 0 14px;
 height: 40px;
 white-space: nowrap;
 background: url('../../../../viposidn6.com/content/Gialuron_MX_Clone/images/radio_bg.png') no-repeat scroll 0 0 transparent;
 border-radius: 0 10px 10px 0;
 }
.primary li.radio .inner .radio_container, .primary li.radio .inner .azan, .primary li.radio .inner .helper {
 display: inline-block;
 vertical-align: middle;
 }
.primary li.radio .inner .helper {
 height: 100%;
 }
.primary li.radio .inner .azan {
 height: 100%;
 margin-left: 8px;
 padding: 0 7px 0 9px;
 font: bold 16px/40px "PT Sans",sans-serif;
 color: rgb(255, 255, 255);
 text-shadow: 0 1px rgba(0, 0, 0, 0.1);
 }
.primary li.radio .inner .azan:hover {
 background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
 }
.primary ul {
 display: none;
 position: absolute;
 left: 0;
 height: 40px;
 width: 960px;
 padding: 0;
 margin: 11px 0 0;
 list-style: outside none none;
 background: none repeat scroll 0 0 rgb(166, 193, 209);
 border-radius: 6px;
 z-index: 500;
 }
/*.primary ul:before, .primary ul:after {*/
 /*display: table;*/
 /*content: "";*/
 /*line-height: 0;*/
 /*}*/
/*.primary ul:after {*/
 /*clear: both;*/
 /*}*/
.primary ul li, .primary li {
 display: block;
 padding: 0 8px;
 line-height: 40px;
 font-size: 16px;
 font-weight: bold;
 text-shadow: 0 1px rgba(0, 0, 0, 0.1);
 color: rgb(255, 255, 255);
 text-decoration: none ! important;
 /*cursor: pointer;*/
 }
/*.primary ul li:hover, .primary ul li.active {*/
 /*background: none repeat scroll 0 0 rgb(72, 115, 139);*/
 /*}*/
.primary ul li.active {
 margin-bottom: 0;
 }
.primary a {
 display: block;
 padding: 0 8px;
 line-height: 40px;
 font-size: 16px;
 font-weight: bold;
 text-shadow: 0 1px rgba(0, 0, 0, 0.1);
 color: rgb(255, 255, 255);
 text-decoration: none ! important;
 }
body {
 padding: 20px 0 0;
 /*min-width: 1000px;*/
 background: none repeat scroll 0 0 rgb(255, 255, 255);
 font-size: 87.5%;
 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
 color: rgb(51, 51, 51);
 }
a, .link {
 color: rgb(87, 138, 168);
 }
a:focus, .link:focus {
 outline: 0 none;
 }
.content {
 /*margin-top: 25px;*/
 margin-bottom: 30px;
 }
.sidebar_margin, .baner__sidebar {
 margin-bottom: 20px ! important;
 }
.panel_flat {
 border: 1px solid rgb(222, 220, 214);
 border-radius: 5px;
 background: none repeat scroll 0 0 rgb(243, 243, 240);
 }
.panel_flat .panel_flat__header {
 display: block;
 padding: 10px 10px 0;
 text-align: center;
 font-size: 14px;
 line-height: 20px;
 font-weight: bold;
 text-transform: uppercase;
 color: rgb(51, 51, 51);
 }
.panel_flat .panel_flat__header:link {
 text-decoration: underline;
 }
.panel_flat .panel_flat__body {
 padding: 10px 10px 20px;
 }
header{

}
.panel_flat .panel_flat__image {
 margin-bottom: 6px;
 width: 200px;
 border-radius: 2px;
 }
.panel_flat .panel_flat__t {
 margin: 6px 0 0;
 font-size: 13px;
 line-height: 15px;
 }
.panel_flat .panel_flat__t, .panel_flat .panel_flat__t a {
 color: rgb(76, 76, 76);
 }
.panel_flat .panel_flat__t a {
 text-decoration: underline;
 }
.indicator, .indicator__watch, .indicator__comment {
 display: inline-block;
 vertical-align: middle;
 padding: 0 4px;
 margin: 0;
 width: auto;
 height: 18px;
 border-radius: 4px;
 font-size: 11px;
 line-height: 18px;
 background-color: rgb(166, 193, 209);
 }
.indicator, .indicator__watch, .indicator__comment, .indicator:link, .indicator__watch:link, .indicator__comment:link {
 color: rgb(255, 255, 255) ! important;
 text-decoration: none;
 }
.indicator .icon, .indicator__watch .icon, .indicator__comment .icon {
 display: inline-block;
 vertical-align: middle;
 }
.indicator_gradient, .article_intro:hover .indicator__comment, .article_intro:hover .indicator__watch, .article_intro.hover .indicator__comment, .article_intro.hover .indicator__watch {
 background-size: 100% auto;
 background-image: linear-gradient(to top, rgb(45, 80, 100), rgb(88, 133, 158) 49%, rgb(96, 147, 176) 51%, rgb(125, 171, 198));
 }
.indicator__watch .icon {
 vertical-align: middle;
 margin-top: -2px;
 }
.indicator__comment .icon {
 vertical-align: middle;
 margin-top: -2px;
 }
.comments {
 margin: 10px 0 40px;
 width: 540px;
 }
.form-search .search-query::-moz-placeholder {
 font-style: italic;
 color: rgb(211, 209, 199);
 opacity: 1;
 }
body {
 font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
 }
.pagination {
 width: 100%;
 text-align: center;
 position: relative;
 top: -25px;
 }
.pagination ul {
 list-style: outside none none;
 padding: 10px 0;
 margin: 0;
 height: 40px;
 line-height: 40px;
 display: inline-block;
 }
.pagination ul li {
 list-style: outside none none;
 padding: 0 10px;
 margin: 0;
 height: 40px;
 line-height: 40px;
 display: inline-block;
 vertical-align: top;
 }
.pagination ul li.q {
 font-size: 1.4em;
 }
.pagination ul li a {
 text-decoration: none;
 border-width: 0 0 1px;
 border-style: none none solid;
 -moz-border-top-colors: none;
 -moz-border-right-colors: none;
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 border-image: none;
 }
.gotosite {
    display: block;
    text-align: center;
    padding: 20px;
    background: #4db2ec;
    display: inline-block;
    border-radius: 5px;
    color: #fff !important;
    text-decoration: none !important;
    font-weight: bold;
    margin-top: 20px;
   transition: 0.5s;
    -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
 }
.gotosite:hover{
 background: #068bd8;
 transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
 }
.imgtbl img {
 border: 4px solid rgb(172, 172, 172);
 }
@media screen and (max-width: 1020px){
 body{
  width:100%;
 }
.all{
 margin:0;
 padding: 0;
 width:100%;
}
.span3 {
 display: none!important;
}
 .span9 {
  float: none !important;
  margin: 0 auto !important;;
 }
.content{
 margin:0;
 padding:0;
}
.comments{
 width:100%;
}


}
@media screen and (max-width: 970px){
 header .container{
  display: none;
 }
 .mobile{
  display: none;
 }
}
@media screen and (max-width: 720px) {
 .span9 {
  width: 100%;
 }

 header,
 header * {
  margin: 0;
 }

 .all {
  padding: 0 15px;
 }
}
 @media screen and (max-width: 520px){
  .article__header h1{

 font-size:22px!important;
  line-height:22px!important;
  font-weight:normal!important;
 }
  .comList-box-item-text {
   padding-left: 0;
   padding-top:20px;
  }
 }
