.alert__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.alert__content {
	position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    font-family: 'RobotoCondensedRegular';
    color: #000000;
} 

/* Code Verify */
.check_popup_head {
	padding: 12px 0;
    text-align: center;
    background-color: #cf2127;
    color: #fff;
    font-size: 30px;
}
.check_popup_content {
    padding: 20px 22px;
}
.check_popup_form_left,
.check_popup_form_right {
	display: inline-block;
}
.check_popup_form_right {
	width: 250px;
    padding-left: 20px;
	vertical-align: top;
}
.check_popup_code_input {
	width: 120px;
    height: 23px;
    border-color: #cf2127;
    border-radius: 1px;
}
.check_popup_button {
    font-size: 12px;
    margin: 7px 12px;
    width: 120px;
    border-radius: 13px;
    background-color: #FFCA00;
    color: #BF0000;
    border: 1px solid #B37500;
    padding: 10px;
}
.check_popup_form_left > h4 {
    margin-bottom: 5px;
}
.go_steps_head {
	margin-bottom: 5px;
}
.check_popup_valid_title {
	font-size: 20px;
    margin-bottom: 10px;
}
.check_popup_form_right .error:first-of-type {
    font-size: 30px;
}
.check_popup_content .center_text {
	margin-bottom: 13px;
}
.check_popup_anketa .row {
	margin-bottom: 10px;
}
.check_popup_anketa textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 7px 6px;
    border-radius: 4px;
    border-color: #cf2127;
    resize: vertical;
    min-height: 178px;
    min-width: 270px;
}
.button.check_submit_pop {
    font-size: 12px;
    margin: 7px 0;
    width: 120px;
    border-radius: 13px;
    background-color: #FFCA00;
    color: #BF0000;
    border: 1px solid #B37500;
    
}
.check_popup_anketa_left,
.check_popup_anketa_right {
    display: inline-block;
    vertical-align: top;
}
.check_popup_anketa_left {
    margin-right: 5px;
}
.check_popup_anketa_right .button.check_submit_pop {
    width: 170px;
    padding: 10px;
    font-family: 'RussoOneRegular';
}
.alert__content .icon.icon-close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    height: 25px;
    background: url('../images/icon_close.png');
    background-size: contain;
    cursor: pointer;
}