a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: normal
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #000
}

.none {
    display: none
}

#wrapper {
    box-sizing: border-box
}

#header {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    height: 700px;
    text-align: center;
    position: relative
}

.headerImgCover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: url(../img/img5.png) center no-repeat;
    background-size: contain
}

.headerImgCover img {
    max-height: 700px
}

#header h1 {
    font-size: 320px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    position: relative;
    z-index: 1;
    -webkit-text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    -moz-text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    -o-text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    line-height: .9
}

#header h1 span {
    font-size: 350px
}

.slogan {
    width: 100%;
    height: 700px;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999
}

.slogan h2 {
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    font-family: impact, sans-serif;
    position: relative;
    -webkit-text-shadow: 0 0 4px #fff;
    -moz-text-shadow: 0 0 4px #fff;
    -o-text-shadow: 0 0 4px #fff;
    text-shadow: 0 0 4px #fff
}

.headerBg {
    background: -webkit-linear-gradient(119deg, #780206, #061161);
    background: linear-gradient(119deg, #780206, #061161);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .6
}

.headerBottom {
    height: 200px;
    margin-top: -200px;
    position: relative;
    z-index: 999;
    background: -moz-linear-gradient(270deg, rgba(255, 0, 0, 0) 0, rgba(0, 0, 0, .25) 47%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 0, 0, 0)), color-stop(47%, rgba(0, 0, 0, .25)) 4 color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(270deg, rgba(255, 0, 0, 0) 0, rgba(0, 0, 0, .25) 47%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(270deg, rgba(255, 0, 0, 0) 0, rgba(0, 0, 0, .25) 47%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(270deg, rgba(255, 0, 0, 0) 0, rgba(0, 0, 0, .25) 47%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0, rgba(0, 0, 0, .25) 47%, rgba(0, 0, 0, 1) 100%)
}

.container {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px
}

.section {
    position: relative;
    min-height: 500px;
    box-sizing: border-box
}

.sectionHeader {
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 100
}

.sectionHeader h3 span {
    font-weight: 900
}

.section1 {
    padding-top: 50px;
    -webkit-text-shadow: 0 0 5px #68102a;
    -moz-text-shadow: 0 0 5px #68102a;
    -o-text-shadow: 0 0 5px #68102a;
    text-shadow: 0 0 5px #68102a;
    font-size: 0;
    display: table;
    width: 100%
}

.section1 .sectionContent {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px 0
}

.sectionLeft,
.sectionRight {
    width: 50%;
    min-height: 500px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box
}

.sectionLeft {
    text-align: center;
    -webkit-animation: pulse 3s ease-in-out;
    -moz-animation: pulse 3s ease-in-out;
    -o-animation: pulse 3s ease-in-out;
    animation: pulse 3s ease-in-out;
    animation-iteration-count: infinite;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background: radial-gradient(ellipse at center, rgba(119, 2, 59, 1) 0, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 100%);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat
}

@keyframes pulse {
    0% {
        background-size: 80%
    }
    50% {
        background-size: 80%
    }
    60% {
        background-size: 90%
    }
    70% {
        background-size: 80%
    }
    80% {
        background-size: 100%
    }
    100% {
        background-size: 80%
    }
}

.sectionLeft img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto
}

.sectionRight {
    padding: 20px
}

.sectionRight h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 30px
}

.sectionRight p {
    font-size: 15px;
    color: #c8c8c8;
    line-height: normal
}

.sectionLeft ul {
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 40px;
    text-align: left
}

.sectionLeft ul li {
    font-size: 15px;
    color: #2eb872;
    margin: 10px 0;
    list-style-type: disc;
    font-weight: 700
}

.section2 {
    background: radial-gradient(ellipse at center, rgba(32, 8, 61, 1) 20%, rgba(0, 0, 0, .8) 65%, rgba(0, 0, 0, .6) 80%);
    background-size: 100%;
    margin-top: 70px
}

.section2 .sectionContent {
    text-align: center;
    font-size: 0;
    margin-top: 40px;
    position: relative;
    box-sizing: border-box;
    padding: 360px 0 0;
}

.s2block {
    width: 100%;
    max-width: 220px;
    display: block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    min-height: 180px
}

.s2block img {
    width: 100%;
    max-width: 120px;
    box-sizing: border-box;
    padding: 15px;
    background-color: #fff;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 13px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 13px rgba(255, 255, 255, 1);
    -o-box-shadow: 0 0 13px rgba(255, 255, 255, 1);
    box-shadow: 0 0 13px rgba(255, 255, 255, 1)
}

.s2block h3 {
    font-size: 20px;
    color: #2eb872;
    font-weight: 500;
    margin-bottom: 10px
}

.s2block p {
    font-size: 15px;
    color: #c8c8c8
}

.s2block1 {
    left: 0;
    top: 0
}

.s2block2 {
    right: 0;
    top: 0
}

.s2block3 {
    right: 0;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.s2block4 {
    left: 0;
    top: 0;
}

.s2block5 {
    width: 300px;
    padding: 0;
    max-width: 100%;
    height: 300px;
    position: relative;
    margin: 0 auto
}

.s2block5 img {
    height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    -webkit-border: 3px solid #fff;
    -moz-border: 3px solid #fff;
    -o-border: 3px solid #fff;
    border: 3px solid #fff
}

.section3 {
    margin-top: 100px
}

.testCover {
    width: 100%;
    max-width: 600px;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    -webkit-perspective: 3000px;
    -moz-perspective: 3000px;
    -o-perspective: 3000px;
    perspective: 3000px;
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -o-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1)
}

#test {
    width: 100%;
    max-width: 600px;
    background: #fff url(../img/doc.png) 110% 0 no-repeat;
    background-size: 55%;
    color: #333;
    margin: 40px auto;
    box-sizing: border-box;
    padding: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    z-index: 5;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0)
}

.test2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../img/medGif3.gif) center no-repeat;
    background-size: cover;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    z-index: 4;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.test3bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: contain;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    opacity: .2
}

.test3 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    z-index: 4;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: none;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    overflow-y: scroll
}

.test3 h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: red
}

.testBarCover {
    position: relative;
    z-index: 9
}

.testBar {
    height: 30px;
    position: relative;
    font-size: 0;
    box-sizing: border-box;
    margin: 20px 0 50px 0;
    -webkit-box-shadow: 0 4px 10px #fff;
    -moz-box-shadow: 0 4px 10px #fff;
    -o-box-shadow: 0 4px 10px #fff;
    box-shadow: 0 4px 10px #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-border: 2px solid #fff;
    -moz-border: 2px solid #fff;
    -o-border: 2px solid #fff;
    border: 2px solid #fff
}

.barPoint {
    position: absolute;
    left: 0;
    top: -124%;
    width: 32px;
    height: 30px;
    font-size: 15px;
    background: url(../img/pointer.png) center no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin-left: -16px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.test3 h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 999
}

.ifNormal {
    text-align: center
}

.testBarBlock {
    display: inline-block;
    vertical-align: top;
    position: relative;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
    font-size: 10px;
    box-sizing: border-box;
    padding-top: 8px
}

.testBarBlock1 {
    width: 11%;
    height: 30px;
    background-color: red
}

.testBarBlock2 {
    width: 20%;
    height: 30px;
    background-color: #f4b914
}

.testBarBlock4::after {
    content: '22.5';
    position: absolute;
    font-size: 20px;
    right: 100%;
    margin-right: -11px;
    top: 150%;
    height: 100%;
    z-index: -1;
    color: #000
}

.testBarBlock2::after {
    content: '16';
    position: absolute;
    font-size: 20px;
    right: 0;
    margin-right: -11px;
    top: 150%;
    height: 100%;
    z-index: -1;
    color: #000
}

.testBarBlock2::before,
.testBarBlock3::before {
    content: '';
    position: absolute;
    right: 0;
    top: 60%;
    height: 100%;
    width: 1px;
    z-index: -1;
    background-color: #000
}

.testBarBlock3 {
    width: 14%;
    height: 30px;
    background-color: green
}

.testBarBlock4 {
    width: 9%;
    height: 30px;
    background-color: #f4b914
}

.testBarBlock5 {
    width: 46%;
    height: 30px;
    background-color: red
}

.test3 p {
    position: relative;
    z-index: 999999
}

.test3 p span {
    font-weight: 700
}

.test3p {
    color: #2eb872;
    font-weight: 700;
    font-size: 30px;
    text-align: center
}

.test3 h5 {
    text-align: center;
    font-size: 25px;
    color: red;
    font-weight: 700
}

.test3img {
    text-align: center
}

.test3img img {
    max-width: 200px
}

#bmi {
    font-weight: 900;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 40px;
    display: inline-block
}

.testBg {
    position: absolute;
    left: -1%;
    top: -1%;
    width: 102%;
    height: 102%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
    display: none
}

.testLeft,
.testRight {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 10px;
    position: relative
}

.testRight {
    float: left
}

.testRight p {
    font-size: 15px;
    margin-bottom: 10px
}

.testRightP {
    margin: 20px 0 10px 0
}

.testRight input,
select {
    font-size: 15px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    outline: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #fff !important
}

.selectCover {
    position: relative
}

.selectCover::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: url(https://static.infothroat.com/pages/c7776b6a-4bc4-4367-8bc2-2c27c8f05a3e/img/caret.svg) center no-repeat;
    background-size: 20px;
    z-index: -1
}

.testRight select {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    -o-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    -webkit-border: 1px solid #ccc;
    -moz-border: 1px solid #ccc;
    -o-border: 1px solid #ccc;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0)
}

.testRight input:hover {
    outline: 0
}

.testRight input:active {
    outline: 0
}

.inputNeutral {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-border: 1px solid #ccc;
    -moz-border: 1px solid #ccc;
    -o-border: 1px solid #ccc;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    -o-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

.inputCorrect {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-border: 1px solid #7cfc00;
    -moz-border: 1px solid #7cfc00;
    -o-border: 1px solid #7cfc00;
    border: 1px solid #7cfc00;
    -webkit-box-shadow: inset 0 0 4px #7cfc00, 0 0 5px #7cfc00;
    -moz-box-shadow: inset 0 0 4px #7cfc00, 0 0 5px #7cfc00;
    -o-box-shadow: inset 0 0 4px #7cfc00, 0 0 5px #7cfc00;
    box-shadow: inset 0 0 4px #7cfc00, 0 0 5px #7cfc00
}

.inputWrong {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-border: 1px solid red;
    -moz-border: 1px solid red;
    -o-border: 1px solid red;
    border: 1px solid red;
    -webkit-box-shadow: inset 0 0 4px red, 0 0 5px red;
    -moz-box-shadow: inset 0 0 4px red, 0 0 5px red;
    -o-box-shadow: inset 0 0 4px red, 0 0 5px red;
    box-shadow: inset 0 0 4px red, 0 0 5px red
}

.btnCover {
    text-align: center
}

.btn {
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    -webkit-border: 3px solid #1e56a0;
    -moz-border: 3px solid #1e56a0;
    -o-border: 3px solid #1e56a0;
    border: 3px solid #1e56a0;
    color: #fff;
    background-color: #1e56a0;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    outline: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5)
}

.btn:hover {
    background-color: #fff;
    color: #1e56a0;
    outline: 0
}

.btn:active {
    transform: scale(.95);
    outline: 0
}

.testLeft h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 30px
}

.testLeft ul li {
    font-size: 15px;
    text-align: left;
    margin: 10px 0;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 25px
}

.section4 {
    margin: 30px 0 30px 0
}

.section4 .sectionContent {
    width: 100%;
    min-height: 500px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -o-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1)
}

.section4 .sectionContent h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 30px
}

.s4blockCoverMobile {
    display: none
}

.s4blockCover {
    font-size: 0;
    position: relative;
    text-align: center
}

.s4block {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    position: relative;
    min-height: 550px;
    margin-top: 50px
}

.s4block h3 {
    font-size: 20px;
    margin-top: -50px;
    text-transform: uppercase
}

.s4block1 {
    background: url(../img/fat.png) bottom right no-repeat;
    background-size: contain;
    opacity: .6
}

.s4block3 {
    background: url(../img/slim.png) bottom left no-repeat;
    background-size: contain;
    opacity: .6
}

.disease {
    margin: 15px 0;
    box-sizing: border-box;
    color: #fff;
    font-weight: 700;
    position: relative;
    z-index: 999
}

.disease h4 {
    font-size: 15px;
    padding: 10px;
    color: #000;
    background-color: #ffdc34;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 5px #ffdc34;
    -moz-box-shadow: 0 0 5px #ffdc34;
    -o-box-shadow: 0 0 5px #ffdc34;
    box-shadow: 0 0 5px #ffdc34
}

.disease1 {
    margin-top: 0
}

.dStatus {
    font-size: 11px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
    height: 20px;
    margin-top: -10px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.dPlus {
    left: 0;
    -webkit-transform: translateX(-2%);
    -moz-transform: translateX(-2%);
    -o-transform: translateX(-2%);
    transform: translateX(-2%);
    background-color: red;
    -webkit-box-shadow: 0 0 3px red;
    -moz-box-shadow: 0 0 3px red;
    -o-box-shadow: 0 0 3px red;
    box-shadow: 0 0 3px red;
    padding: 3px 0 0 5px;
    text-align: left
}

.dMinus {
    right: 0;
    -webkit-transform: translateX(2%);
    -moz-transform: translateX(2%);
    -o-transform: translateX(2%);
    transform: translateX(2%);
    background-color: #2eb872;
    -webkit-box-shadow: 0 0 3px #2eb872;
    -moz-box-shadow: 0 0 3px #2eb872;
    -o-box-shadow: 0 0 3px #2eb872;
    box-shadow: 0 0 3px #2eb872;
    padding: 3px 5px 0 0;
    text-align: right
}

.dPlus1 {
    -webkit-transform: translateX(-84%);
    -moz-transform: translateX(-84%);
    -o-transform: translateX(-84%);
    transform: translateX(-84%)
}

.dMinus1 {
    -webkit-transform: translateX(76%);
    -moz-transform: translateX(76%);
    -o-transform: translateX(76%);
    transform: translateX(76%)
}

.dPlus2 {
    -webkit-transform: translateX(-91%);
    -moz-transform: translateX(-91%);
    -o-transform: translateX(-91%);
    transform: translateX(-91%)
}

.dMinus2 {
    -webkit-transform: translateX(89%);
    -moz-transform: translateX(89%);
    -o-transform: translateX(89%);
    transform: translateX(89%)
}

.dPlus3 {
    -webkit-transform: translateX(-71%);
    -moz-transform: translateX(-71%);
    -o-transform: translateX(-71%);
    transform: translateX(-71%)
}

.dMinus3 {
    -webkit-transform: translateX(83%);
    -moz-transform: translateX(83%);
    -o-transform: translateX(83%);
    transform: translateX(83%)
}

.dPlus4 {
    -webkit-transform: translateX(-58%);
    -moz-transform: translateX(-58%);
    -o-transform: translateX(-58%);
    transform: translateX(-58%)
}

.dMinus4 {
    -webkit-transform: translateX(47%);
    -moz-transform: translateX(47%);
    -o-transform: translateX(47%);
    transform: translateX(47%)
}

.dPlus5 {
    -webkit-transform: translateX(-79%);
    -moz-transform: translateX(-79%);
    -o-transform: translateX(-79%);
    transform: translateX(-79%)
}

.dMinus5 {
    -webkit-transform: translateX(66%);
    -moz-transform: translateX(66%);
    -o-transform: translateX(66%);
    transform: translateX(66%)
}

.dPlus6 {
    -webkit-transform: translateX(-62%);
    -moz-transform: translateX(-62%);
    -o-transform: translateX(-62%);
    transform: translateX(-62%)
}

.dMinus6 {
    -webkit-transform: translateX(53%);
    -moz-transform: translateX(53%);
    -o-transform: translateX(53%);
    transform: translateX(53%)
}

.dPlus7 {
    -webkit-transform: translateX(-62%);
    -moz-transform: translateX(-62%);
    -o-transform: translateX(-62%);
    transform: translateX(-62%)
}

.dMinus7 {
    -webkit-transform: translateX(77%);
    -moz-transform: translateX(77%);
    -o-transform: translateX(77%);
    transform: translateX(77%)
}

.dPlus8 {
    -webkit-transform: translateX(-97%);
    -moz-transform: translateX(-97%);
    -o-transform: translateX(-97%);
    transform: translateX(-97%)
}

.dMinus8 {
    -webkit-transform: translateX(94%);
    -moz-transform: translateX(94%);
    -o-transform: translateX(94%);
    transform: translateX(94%)
}

.dPlus9 {
    -webkit-transform: translateX(-82%);
    -moz-transform: translateX(-82%);
    -o-transform: translateX(-82%);
    transform: translateX(-82%)
}

.dMinus9 {
    -webkit-transform: translateX(67%);
    -moz-transform: translateX(67%);
    -o-transform: translateX(67%);
    transform: translateX(67%)
}

.dPlus10 {
    -webkit-transform: translateX(-99%);
    -moz-transform: translateX(-99%);
    -o-transform: translateX(-99%);
    transform: translateX(-99%)
}

.dMinus10 {
    -webkit-transform: translateX(95%);
    -moz-transform: translateX(95%);
    -o-transform: translateX(95%);
    transform: translateX(95%)
}

.section5 {
    background: radial-gradient(ellipse at center, rgba(32, 8, 61, 1) 20%, rgba(0, 0, 0, .8) 65%, rgba(0, 0, 0, .6) 80%);
    background-size: 100%;
    margin-top: 100px;
    padding-bottom: 60px
}

.section5 .sectionContent {
    text-align: center;
    color: #fff
}

.section5 h2 {
    font-size: 30px
}

.section5 .sectionHeader {
    margin-bottom: 100px
}

.s5block {
    box-sizing: border-box;
    margin: 20px 0 100px 0;
    position: relative
}

.s5block::after {
    content: '';
    position: absolute;
    top: -25px;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    -webkit-box-shadow: inset 0 0 7px #fff;
    -moz-box-shadow: inset 0 0 7px #fff;
    -o-box-shadow: inset 0 0 7px #fff;
    box-shadow: inset 0 0 7px #fff;
    box-sizing: border-box;
    -webkit-border: 1px solid #fff;
    -moz-border: 1px solid #fff;
    -o-border: 1px solid #fff;
    border: 1px solid #fff
}

.s5block1::after,
.s5block3::after,
.s5block5::after {
    left: 0
}

.s5block2::after,
.s5block4::after {
    right: 0
}

.s5block h5 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #2eb872;
    font-weight: 700
}

.s5block1::before {
    content: '';
    position: absolute;
    left: 8%;
    bottom: -130%;
    width: 85%;
    height: 100%;
    background: url(../img/line.png) center no-repeat;
    background-size: cover;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg)
}

.s5block3::before {
    content: '';
    position: absolute;
    left: 8%;
    bottom: -110%;
    width: 85%;
    height: 100%;
    background: url(../img/line.png) center no-repeat;
    background-size: cover;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg)
}

.s5block2::before,
.s5block4::before {
    content: '';
    position: absolute;
    left: 8%;
    bottom: -105%;
    width: 85%;
    height: 100%;
    background: url(../img/line2.png) center no-repeat;
    background-size: cover;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg)
}

.s5block1,
.s5block3,
.s5block5 {
    padding: 10px 10px 10px 200px;
    text-align: left
}

.s5block5 {
    margin-bottom: 30px
}

.s5block2,
.s5block4 {
    padding: 10px 200px 10px 10px;
    text-align: right
}

.s5block1 .s5blockImg,
.s5block3 .s5blockImg,
.s5block5 .s5blockImg {
    box-shadow: 0 0 13px rgba(255, 255, 255, 1), 10px 0 20px rgba(255, 255, 255, .7), 20px 0 50px rgba(255, 255, 255, .5), 30px 0 70px rgba(255, 255, 255, .3);
    -webkit-box-shadow: 0 0 13px rgba(255, 255, 255, 1), 10px 0 20px rgba(255, 255, 255, .7), 20px 0 50px rgba(255, 255, 255, .5), 30px 0 70px rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 0 13px rgba(255, 255, 255, 1), 10px 0 20px rgba(255, 255, 255, .7), 20px 0 50px rgba(255, 255, 255, .5), 30px 0 70px rgba(255, 255, 255, .3);
    -o-box-shadow: 0 0 13px rgba(255, 255, 255, 1), 10px 0 20px rgba(255, 255, 255, .7), 20px 0 50px rgba(255, 255, 255, .5), 30px 0 70px rgba(255, 255, 255, .3)
}

.s5block2 .s5blockImg,
.s5block4 .s5blockImg {
    -webkit-box-shadow: 0 0 13px rgba(255, 255, 255, 1), -10px 0 20px rgba(255, 255, 255, .7), -20px 0 50px rgba(255, 255, 255, .5), -30px 0 70px rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 0 13px rgba(255, 255, 255, 1), -10px 0 20px rgba(255, 255, 255, .7), -20px 0 50px rgba(255, 255, 255, .5), -30px 0 70px rgba(255, 255, 255, .3);
    -o-box-shadow: 0 0 13px rgba(255, 255, 255, 1), -10px 0 20px rgba(255, 255, 255, .7), -20px 0 50px rgba(255, 255, 255, .5), -30px 0 70px rgba(255, 255, 255, .3);
    box-shadow: 0 0 13px rgba(255, 255, 255, 1), -10px 0 20px rgba(255, 255, 255, .7), -20px 0 50px rgba(255, 255, 255, .5), -30px 0 70px rgba(255, 255, 255, .3)
}

.s5block1 .s5blockImg {
    background: url(../img/refreshed.jpg) center no-repeat;
    background-size: contain
}

.s5block2 .s5blockImg {
    background: url(../img/burnFat.jpg) center no-repeat;
    background-size: cover
}

.s5block3 .s5blockImg {
    background: url(../img/size.jpg) center no-repeat;
    background-size: cover
}

.s5block4 .s5blockImg {
    background: url(../img/feelGood.jpg) center no-repeat;
    background-size: cover
}

.s5block5 .s5blockImg {
    background: url(../img/slimFit1.jpg) center no-repeat;
    background-size: cover
}

.s5blockImg {
    top: -25px;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px
}

.s5blockImg1 {
    left: 0
}

.s5blockImg2 {
    right: 0
}

.section6 {
    padding: 0;
    min-height: 300px !important;
    margin-top: 30px
}

#reviews {
    font-size: 0;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    position: relative
}

#reviews::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background: -moz-linear-gradient(360deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 1)), color-stop(100%, rgba(128, 0, 0, 0)));
    background: -webkit-linear-gradient(360deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    background: -o-linear-gradient(360deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    background: -ms-linear-gradient(360deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    z-index: 99999
}

#reviews::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    Color: maroon
    Location: 100% CSS -rgba CSS -hex Android Canvas SVG PHP
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(128, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    background: -o-linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0, rgba(128, 0, 0, 0) 100%);
    z-index: 99999999
}

.review {
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 40%;
    margin: 20px;
    text-align: center
}

.review h4 {
    font-size: 20px;
    color: #fff
}

.reviewAuthor {
    width: 100%;
    max-width: 100px;
    margin: 10px auto 15px auto;
    -webkit-border-radius: 205px;
    -moz-border-radius: 205px;
    -o-border-radius: 205px;
    border-radius: 205px;
    -webkit-border: 3px solid #fff;
    -moz-border: 3px solid #fff;
    -o-border: 3px solid #fff;
    border: 3px solid #fff;
    box-sizing: border-box
}

.review p {
    font-size: 15px;
    color: #fff;
    max-width: 400px;
    margin: 0 auto
}

.reviewResults {
    text-align: center;
    font-size: 0;
    max-width: 400px;
    margin: 20px auto 0 auto
}

.reviewResult {
    display: inline-block;
    width: 47%;
    height: 150px;
    overflow: hidden;
    margin: 1.1%;
    cursor: pointer
}

.review1Result1 {
    background: url(../img/review1_1.png) top no-repeat;
    background-size: cover
}

.review1Result2 {
    background: url(../img/review1_2.png) center no-repeat;
    background-size: cover
}

.review1Result4 {
    background: url(../img/review2_1.png) center no-repeat;
    background-size: cover
}

.review1Result5 {
    background: url(../img/review2_2.jpg) center no-repeat;
    background-size: cover
}

.review1Result6 {
    background: url(../img/review3_1.jpg) center no-repeat;
    background-size: cover
}

.review1Result7 {
    background: url(../img/review3_2.jpg) top no-repeat;
    background-size: cover
}

.review1Result9 {
    background: url(../img/review4_1.jpg) center no-repeat;
    background-size: cover;
    width: 46%
}

.review1Result10 {
    background: url(../img/review4_2.jpg) center no-repeat;
    background-size: cover;
    width: 46%
}

.reviewResult img {
    width: 100%
}

.section7 {
    /*margin-top:110px;*/
    background: radial-gradient(ellipse at center, rgba(120, 2, 6, .7) 0, rgba(0, 0, 0, .7) 80%, rgba(0, 0, 0, .6) 100%);
    background-size: 100%
}

.formCover {
    position: relative;
    font-size: 0;
    margin: 30px 0
}

#form,
.formLeft {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top
}

.formLeft {
    text-align: center;
    width: 60%;
    position: relative
}

.formLeft img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto
}

.specialOffer {
    position: absolute;
    right: 20px;
    bottom: 40px;
    width: 150px;
    height: 150px;
    background-color: red;
    z-index: 99999999;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    box-sizing: border-box;
    -webkit-border: 3px solid #fff;
    -moz-border: 3px solid #fff;
    -o-border: 3px solid #fff;
    border: 3px solid #fff;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    overflow: hidden
}

.specialOffer h5 {
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    margin-top: 35px
}

.timerCover {
    width: 100%;
    margin: 0 auto;
    height: 30px;
    position: relative;
    background-color: #ff0;
    margin-top: 10px
}

.timer {
    font-size: 0;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    color: #000;
    box-sizing: border-box;
    padding: 7px 0
}

.timeBlock {
    display: inline-block;
    width: 25px;
    font-size: 15px;
    text-align: center;
    vertical-align: top;
    margin: 0 1%;
    font-weight: 900
}

.timeDot {
    display: inline-block;
    color: #000;
    font-size: 13px;
    font-weight: 900
}

#form {
    box-sizing: border-box;
    padding: 20px;
    width: 40%;
    background-color: #fff;
    -webtit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -o-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1)
}

.inputCover {
    width: 100%;
    display: block;
    position: relative;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
    overflow: hidden;
    margin: 15px 0;
    -webkit-box-shadow: inset 0 0 20px #c8c8c8, 0 0 3px #c8c8c8;
    -moz-box-shadow: inset 0 0 20px #c8c8c8, 0 0 3px #c8c8c8;
    -o-box-shadow: inset 0 0 20px #c8c8c8, 0 0 3px #c8c8c8;
    box-shadow: inset 0 0 20px #c8c8c8, 0 0 3px #c8c8c8
}

.inputCover input, select {
    width: 100%;
    padding: 15px 10px 15px 50px;
    box-sizing: border-box;
    font-size: 15px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
    -webkit-border: none;
    -moz-border: none;
    -o-border: none;
    border: none;
    outline: 0;
    font-family: Montserrat, sans-serif;
    background-color: #f2f2f2!important;
}

.inputIcon {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px
}
.inputflag {
    background: #ffffff url(https://static.infothroat.com/pages/c7776b6a-4bc4-4367-8bc2-2c27c8f05a3e/img/flag.svg) center no-repeat;
    background-size: 73%;
}
.inp_country {
    position: absolute;
    left: 8px;
    top: 5px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
}

.inputName {
    background: url(https://static.infothroat.com/pages/c7776b6a-4bc4-4367-8bc2-2c27c8f05a3e/img/user.svg) top no-repeat;
    background-size: 125%
}

.inputPhone {
    background: #000 url(https://static.infothroat.com/pages/c7776b6a-4bc4-4367-8bc2-2c27c8f05a3e/img/phone.svg) center no-repeat;
    background-size: contain
}

.priceCover {
    margin: 10px 0 0;
    position: relative
}

.priceCover::before {
    content: '-50%';
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: 1px 5px;
    background-color: red;
    font-size: 15px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.oldPrice {
    font-size: 15px
}

.oldPrice span {
    position: relative;
    display: inline-block
}

.oldPrice span::before {
    content: '';
    position: absolute;
    left: -5%;
    width: 110%;
    height: 2px;
    background-color: red;
    top: 50%;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg)
}

.newPrice {
    font-size: 20px
}

.newPrice span {
    font-size: 22px;
    font-weight: 700;
    color: red
}

#form .btnCover {
    margin: 20px 0;
    overflow: visible
}

#form .btn {
    margin-top: 0
}

.orderBtn:hover {
    outline: 0;
    background-color: #fff;
    color: rgba(32, 8, 61)
}

.orderBtn:active {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    outline: 0
}

.section8 {
    min-height: 100px;
    padding-bottom: 40px
}

.section8 .sectionContent {
    margin-top: 30px;
    font-size: 0;
    text-align: center
}

.s8block {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 20px;
    margin: 20px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
    position: relative;
    -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 12px rgba(255, 255, 255, 1);
    -o-box-shadow: 0 0 12px rgba(255, 255, 255, 1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 1)
}

.s8blockBg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .3;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px
}

.s8block1 .s8blockBg {
    background: url(../img/makeorder.jpg) center no-repeat;
    background-size: cover
}

.s8block2 .s8blockBg {
    background: url(../img/operator.jpg) center no-repeat;
    background-size: cover
}

.s8block3 .s8blockBg {
    background: url(../img/payondelivery.jpg) center no-repeat;
    background-size: cover
}

.s8block h3 {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    position: relative
}

.s8block p {
    font-size: 15px;
    color: #fff;
    margin: 10px 0;
    position: relative
}

#footer {
    text-align: center;
    padding: 30px 10px;
    box-sizing: border-box
}

#footer p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 0
}

#footer a {
    font-size: 12px;
    color: #fff
}

@media screen and (max-width: 1200px) {
    #header {
        height: 100%
    }

    #header h1 {
        font-size: 26vw
    }

    #header h1 span {
        font-size: 26vw
    }

    .slogan h2 {
        font-size: 5vw
    }
}

@media screen and (max-width: 1100px) {
    .headerImgCover {
        text-align: center;
        background-size: cover
    }

    .headerImgCover img {
        min-height: 100%
    }

    .slogan {
        height: 100%
    }
}

@media screen and (max-width: 950px) {
    .slogan h2 {
        font-size: 7vw
    }

    .slick-prev {
        left: 25px;
        z-index: 999999
    }

    .slick-next {
        right: 25px;
        z-index: 9999999999
    }
}

@media screen and (max-width: 830px) {
    .s5blockImg2 {
        right: 10px
    }

    .s5block2::after,
    .s5block4::after {
        right: 10px
    }

    .formLeft {
        width: 47%
    }

    #form {
        width: 50%;
        float: right
    }
}

@media screen and (max-width: 730px) {
    .s2block5 {
        width: 200px;
        height: 200px
    }

    .s2block3,
    .s2block4,
    .s2block5 {
        margin-top: 70px
    }

    .s5block2::before,
    .s5block4::before {
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        transform: rotate(-15deg);
        background-size: contain
    }

    .s5block1::before,
    .s5block3::before {
        background-size: contain;
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg)
    }
}

@media screen and (max-width: 660px) {
    #header h1 {
        font-size: 21vw
    }

    #header h1 span {
        font-size: 21vw
    }

    .headerBottom {
        height: 100px;
        margin-top: -100px
    }

    .s4block1,
    .s4block3 {
        width: 37%
    }

    .s4block2 {
        width: 25%
    }

    .dStatus {
        width: 140%
    }
}

@media screen and (max-width: 630px) {
    .sectionLeft,
    .sectionRight {
        width: 100%;
        display: block;
        min-height: 100px
    }

    .section2 {
        margin-top: 10px
    }

    .section2 .sectionContent {
        padding: 0
    }

    .s2block5 {
        display: none !important
    }

    .s2block {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px
    }

    .s4blockCover {
        overflow: hidden;
        background: #ccc url(../img/fat.png) bottom right no-repeat;
        background-size: contain;
        padding: 20px 0;
        box-sizing: border-box
    }

    .s4blockCover .s4block3 {
        display: none !important
    }

    .s4blockCover .dMinus {
        display: none
    }

    .s4blockCover .s4block2 {
        width: 100%;
        float: right !important
    }

    .s4blockCover .s4block1 {
        display: none
    }

    .s4block h3 {
        font-size: 15px
    }

    .disease {
        margin: 16px 0;
        max-width: 150px
    }

    .dPlus {
        text-align: right;
        margin-left: 90%;
        left: -90%;
        padding-right: 10px;
        -webkit-transform: translateX(97%);
        -moz-transform: translateX(97%);
        -o-transform: translateX(97%);
        transform: translateX(97%)
    }

    .dPlus8 {
        -webkit-transform: translateX(97%);
        -moz-transform: translateX(97%);
        -o-transform: translateX(97%);
        transform: translateX(97%)
    }

    .dStatus {
        width: 100%;
        height: 100%;
        top: 0;
        margin-top: 0;
        font-size: 12px
    }

    .disease h4 {
        font-size: 12px;
        max-width: 200px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        text-align: right
    }

    .s4block {
        margin-top: 0
    }

    .s4blockCoverMobile {
        width: 100%;
        overflow: hidden;
        background: url(../img/slim.png) left bottom no-repeat;
        background-size: contain;
        margin-top: 20px;
        padding: 20px 0;
        box-sizing: border-box;
        text-align: right !important;
        display: block
    }

    .s4blockCoverMobile .disease h4 {
        text-align: left
    }

    .s4blockCoverMobile .s4block2 {
        float: right;
        width: 150px
    }

    .s4blockCoverMobile .s4block3 {
        display: none
    }

    .s4blockCoverMobile .dPlus {
        display: none
    }

    .s4blockCoverMobile .dMinus {
        -webkit-transform: translateX(-97%);
        -moz-transform: translateX(-97%);
        -o-transform: translateX(-97%);
        transform: translateX(-97%);
        width: 100%;
        text-align: left;
        padding-left: 10px
    }

    .section7 {
        margin-top: 50px
    }

    #form,
    .formLeft {
        width: 100%;
        float: none
    }

    .formLeft img {
        margin-bottom: 30px
    }

    .specialOffer {
        left: 0;
        bottom: 10px
    }
}

@media screen and (max-width: 530px) {
    #test {
        background: 0 0
    }

    .testLeft,
    .testRight {
        width: 100%;
        display: block
    }

    .testRight {
        background-color: #f2f2f2;
        padding: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        -o-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        box-shadow: 0 0 4px rgba(0, 0, 0, .5)
    }

    .s5blockImg {
        width: 120px;
        height: 120px;
        top: 20px
    }

    .s5block::after {
        width: 120px;
        height: 120px;
        top: 20px
    }

    .s5block2::after,
    .s5block4::after {
        right: 0
    }

    .s5block2::before,
    .s5block4::before {
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg);
        background-size: contain
    }

    .s5block1::before,
    .s5block3::before {
        background-size: contain;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg)
    }

    .s5block2,
    .s5block4 {
        padding: 20px 150px 10px 10px
    }

    .s5block1,
    .s5block3,
    .s5block5 {
        padding: 20px 10px 10px 150px
    }

    .s5blockImg2 {
        right: 0
    }
}

@media screen and (max-width: 430px) {
    .s5block2::before,
    .s5block4::before {
        -webkit-transform: rotate(-40deg);
        -moz-transform: rotate(-40deg);
        -o-transform: rotate(-40deg);
        transform: rotate(-40deg);
        background-size: contain;
        bottom: -90%;
        width: 100%
    }

    .s5block1::before,
    .s5block3::before {
        background-size: contain;
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -o-transform: rotate(40deg);
        transform: rotate(40deg);
        bottom: -130%;
        width: 100%
    }
}

@media screen and (max-width: 370px) {
    .sectionLeft img {
        max-width: 200px
    }

    .s5block1::before,
    .s5block2::before,
    .s5block3::before,
    .s5block4::before {
        display: none
    }

    .s5block {
        padding: 10px;
        margin-bottom: 50px
    }

    .s5block::after {
        width: 120px;
        height: 120px;
        top: 10px;
        left: 50%;
        margin-left: -60px
    }

    .s5blockImg {
        position: relative;
        margin: 0 auto 10px auto;
        top: 0
    }

    .formLeft img {
        max-width: 90%
    }
}

@media screen and (max-width: 340px) {
    .container {
        padding: 0 10px
    }

    .s4blockCoverMobile .s4block2 {
        width: 100px
    }

    .dPlus {
        width: 130%;
        -webkit-transform: translateX(91%);
        -moz-transform: translateX(91%);
        -o-transform: translateX(91%);
        transform: translateX(91%);
        padding-right: 5px;
        margin-left: 0
    }

    .disease h4 {
        font-size: 10px;
        padding-left: 5px;
        max-width: 90px
    }

    .s4blockCoverMobile .dMinus {
        width: 130%;
        -webkit-transform: translateX(-75%);
        -moz-transform: translateX(-75%);
        -o-transform: translateX(-75%);
        transform: translateX(-75%);
        padding-right: 0;
        padding-left: 5px
    }

    .reviewResult {
        width: 100%;
        height: 170px;
        background-position: top
    }

    .formLeft img {
        max-width: 80%
    }

    .specialOffer {
        width: 100px;
        height: 100px
    }

    .specialOffer h5 {
        font-size: 12px;
        margin-top: 10px
    }

    .timeBlock {
        width: 18px;
        font-size: 12px
    }
}
.form_control {
    background: url(../img/down-arrow.png)no-repeat 95%;
}